.admin {
    --padding: 0.75rem 1rem;

    a {
        color: #e0e0e0;
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .admin-menu-item {
        margin: 0 -1rem;

        :hover {
            background-color: deeppink;
        }

        div {
            padding: 0.5rem 1rem;
        }
    }

    #admin-toolbar {
        padding: 0 1rem;
    }

    #admin-sidebar {
        color: var(--bs-light);
        background-color: var(--bs-dark);
        min-height: 100vh;
        float: left;
        width: 160px;
        position: fixed;
        // margin-right: 1rem;
        padding: var(--padding);
        display: none; // Sidebar starts hidden by default

        &.open {
            display: block; // Sidebar displays when 'open' class is added
        }

        @media (min-width: 768px) {
            display: block; // Sidebar is block by default on large screens
            position: relative;

            &:not(.open) {
                display: none; // Sidebar hides when 'open' class is removed
            }
        }
    }

    #admin-main {
        color: #303030;
        background-color: #e0e0e0;
        padding: var(--padding);
        flex-basis: 100%;
    }
}